@page "/dashboard"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService

<h3>Dashboard</h3>

<h3>Hi @AuthenticationService.User.Name</h3>

<p>
    <NavLink class="btn btn-primary" href="/recipients/index">Recipients</NavLink>
    <button class="btn btn-primary">Lists</button>
    <button class="btn btn-primary">Campaigns</button>
    <button class="btn btn-primary">Templates</button>
    <button class="btn btn-primary">Analytics</button>
    <button class="btn btn-primary">Administration </button>
</p>

@code {

}
