@page "/dashboard"

<h3>Dashboard</h3>

<p>
    <button class="btn btn-primary">Recipients</button>
    <button class="btn btn-primary">Lists</button>
    <button class="btn btn-primary">Campaigns</button>
    <button class="btn btn-primary">Templates</button>
    <button class="btn btn-primary">Analytics</button>
    <button class="btn btn-primary">Administration </button>
</p>

@code {

}
