@page "/forgottenpassword"

<div class="container text-center">
    <h3>Forgotten Password</h3>

    <p>Enter your email to reset your password</p>
    <EditForm Model="resetRequest" OnValidSubmit="HandleReset">
        <label>Enter Your Email Address</label>
        <InputText type="email" @bind-Value="resetRequest.EmailAddress" />
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </EditForm>
</div>
@if (RequestComplete)
{
<p class="text-success">Check your email to complete your password reset</p>
}

@code {
    EmailAddressViewModel resetRequest = new EmailAddressViewModel();

    private bool RequestComplete = false;

    private void HandleReset()
    {
        RequestComplete = true;
    }
}
