@page "/forgottenpassword"

@inject IDataService<EmailAddressViewModel> _forgottenPasswordservice

<div class="container text-center">
    <h3>Forgotten Password</h3>

    <p>Enter your email to reset your password</p>
    <EditForm Model="resetRequest" OnValidSubmit="HandleReset">
        <label>Enter Your Email Address</label>
        <InputText type="email" @bind-Value="resetRequest.EmailAddress" />
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</div>

@if (!string.IsNullOrEmpty(Error))
{
    <p class="text-center text-danger">@Error</p>
}

@if (RequestComplete)
{
    <p class="text-success">Check your email to complete your password reset</p>
}

@code {
    EmailAddressViewModel resetRequest = new EmailAddressViewModel();

    private bool RequestComplete = false;

    private string Error { get; set; }

    private async Task HandleReset()
    {
        try
        {
            await _forgottenPasswordservice.PostNoReturnContent(resetRequest);
            RequestComplete = true;
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            StateHasChanged();
        }
    }
}
