@page "/"

@using System.Text.Json
@using DataTransfer.ViewModels

@inject HttpClient http
@inject NavigationManager nav

<div class="container text-center">
    <EditForm Model="loginRequest" OnValidSubmit="HandleLogin">
        <label For="EmailField">Email Address</label>
        <InputText id="EmailField" type="email" @bind-Value="loginRequest.Email" />
        <label For="PasswordField">Password</label>
        <InputText id="PasswordField" type="password" @bind-Value="loginRequest.Password" />
        <button type="submit" class="btn btn-primary">Login</button>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
    @if (!string.IsNullOrEmpty(Error))
    {
        <p>@Error</p>
    }

    <p>Forgotten your password? Click <NavLink href="/forgottenpassword">Here</NavLink></p>
    <p>Not registered yet? Sign up <NavLink href="/register">Here</NavLink></p>
</div>

@code {

    LoginRequest loginRequest = new LoginRequest();

    private string Error { get; set; }

    private async Task HandleLogin()
    {

        var response = await http.PostAsJsonAsync("api/authentication/login", loginRequest);

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadFromJsonAsync<AuthenticationResponse>();

            if (!string.IsNullOrEmpty(json.Token) && !(json.Expires < DateTime.Now))
                nav.NavigateTo("/dashboard");
        }
        else
        {
            var error = await response.Content.ReadFromJsonAsync<Error>();
            Error = error.ErrorMessage;
        }


    }
} 