@page "/"
@using UI.Components.Layout
@using UI.Components.Forms
@using UI.Components.Core
<h1>Hello, world!</h1>

<Container>
    <Label For="EmailField">Email Address</Label>
    <EmailControl />
    <Label For="PasswordField">Password</Label>
    <PasswordControl />
    <Button>Login</Button>
</Container>
