@page "/resetpassword/{Token}"

@inject HttpClient http

<div class="container text-center">
    <h3>Reset Password</h3>

    <p>Enter your email to reset your password</p>
    
        <input type="password" value="@Password" />
        <button type="button" onclick="@ChangePassword()" class="btn btn-primary">Reset Password</button>
    
</div>

@if (ResetComplete)
{
    <p class="text-success">Password Reset Successfully!</p>
}


@code {
    [Parameter]
    public string Token { get; set; }

    [Parameter]
    public string Password { get; set; }

    public bool TokenValid { get; set; } = false;

    public string EmailAddress { get; set; }

    public bool ResetComplete { get; set; } = false;

    private async Task ChangePassword()
    {
        if (!string.IsNullOrEmpty(Password))
        {
            var resetRequest = await http.PostAsJsonAsync<string>($"api/resetpassword",Password);

            if (resetRequest.IsSuccessStatusCode)
            {
                ResetComplete = true;
            }
        }
    }

  
}
