@page "/updatepassword/{Token}"

<div class="container text-center">
    <h3>Reset Password</h3>

    <EditForm Model="ViewModel" OnValidSubmit="ChangePassword">
        <label>Enter Your New Password</label>
        <InputText type="password" @bind-Value="ViewModel.Password" />
        <label>Confirm Your New Password</label>
        <InputText type="password" @bind-Value="ViewModel.ConfirmPassword" />
    </EditForm>

</div>

@if (ResetComplete)
{
    <p class="text-success">Password Reset Successfully!</p>
}


@code {
    [Parameter]
    public string Token { get; set; }

    private bool ResetComplete { get; set; } = false;

    UpdatePasswordViewModel ViewModel = new UpdatePasswordViewModel();

    private void ChangePassword()
    {
        ViewModel.Token = Token;

    }


}
